<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>SDA2.NET</title>
</head>
<body>
  <div class="container">
    <h1>SDA2.NET</h1>
    <h2>Welcome To SDA2.NET</h2>
    <h3>SERVICES</h3>
    <p id="counter">Counter <a href="https://countor-m1.sda2.net" target="_blank" style="color: #00aaff; text-decoration: none;">https://countor-m1.sda2.net</a></p>
  </div>
</body>
</html>
